<c-modal id="liveDemoModal" alignment="center" [visible]="liveDemoVisible" size="lg" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
      <h5 cModalTitle>Asignar permisos</h5>
      <button (click)="toggleLiveDemo()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <c-row>
        <c-col xs="12">
          <form #customStylesForm="ngForm"
              cForm 
              [formGroup]="form"
              class="row g-3 needs-validation">

            <c-col md="6">
              <div [cFormFloating]="true" class="mb-3">
                <select [valid]="form.get('profileid').valid" aria-label="Default select example" cSelect formControlName="profileid" >
                  <option *ngFor="let profile of profiles" [value]="profile.id">{{ profile.name }}</option>
                </select>
                <c-form-feedback [valid]="false">{{ errorFormulario.ObtieneMensajeError(form, 'profileid') }}</c-form-feedback>
              </div>
            </c-col>

            <c-col md="6">
              <div [cFormFloating]="true" class="mb-3">
                <select [valid]="form.get('transactionid').valid" aria-label="Default select example" cSelect formControlName="transactionid" >
                  <option *ngFor="let transaction of transactions" [value]="transaction.id">{{ transaction.name }}</option>
                </select>
                <c-form-feedback [valid]="false">{{ errorFormulario.ObtieneMensajeError(form, 'transactionid') }}</c-form-feedback>
              </div>
            </c-col>

          </form>
        </c-col>
      </c-row>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="toggleLiveDemo()" cButton color="secondary">
        Cerrar
      </button>
      <button cButton color="primary" (click)="save()">Guardar</button>
    </c-modal-footer>
</c-modal>